 .u-section-1 {
  background-image: linear-gradient(#23625e, #db545a);
}

.u-section-1 .u-sheet-1 {
  min-height: 692px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 45px auto 0;
}

.u-section-1 .u-slider-1 {
  width: 827px;
  min-height: 568px;
  margin: 20px 122px 20px auto;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-image-1 {
  height: 435px;
  width: 810px;
  margin: 0 auto 0 -3px;
}

.u-section-1 .u-text-2 {
  margin: 9px 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-1 .u-image-2 {
  height: 309px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  margin: 20px auto 0 129px;
}

.u-section-1 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-1 .u-carousel-item-3 {
  margin-left: 20px;
  margin-right: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 8px;
}

.u-section-1 .u-image-3 {
  width: 689px;
  height: 375px;
  margin: 0 auto 0 15px;
}

.u-section-1 .u-text-5 {
  font-size: 1.875rem;
  margin: 15px auto 0 180px;
}

.u-section-1 .u-text-6 {
  margin: 0 52px;
}

.u-section-1 .u-carousel-item-4 {
  margin-left: 0;
  margin-right: auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 17px 9px;
}

.u-section-1 .u-image-4 {
  width: 703px;
  height: 395px;
  margin: 0 14px 0 auto;
}

.u-section-1 .u-text-7 {
  margin: 20px 0 0 59px;
}

.u-section-1 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: 0;
  position: absolute;
  right: auto;
}

.u-section-1 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-slider-1 {
    height: auto;
    margin-right: 113px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 201px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 637px;
  }

  .u-section-1 .u-slider-1 {
    width: 720px;
    min-height: 512px;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-image-1 {
    height: 386px;
    width: 720px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-image-3 {
    width: 684px;
    height: 373px;
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    width: 702px;
    height: 394px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-slider-1 {
    width: 540px;
    min-height: 537px;
  }

  .u-section-1 .u-image-1 {
    height: 290px;
    width: 540px;
  }

  .u-section-1 .u-image-3 {
    width: 504px;
    height: 275px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 133px;
  }

  .u-section-1 .u-image-4 {
    width: 522px;
    height: 293px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 155px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 650px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 514px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    height: 190px;
    width: 340px;
  }

  .u-section-1 .u-image-2 {
    height: 190px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 79px;
  }

  .u-section-1 .u-image-3 {
    width: 304px;
    height: 166px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 80px;
  }

  .u-section-1 .u-image-4 {
    width: 322px;
    height: 181px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 95px;
  }
}