 .u-section-1 {
  background-image: none;
  min-height: 524px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 5px auto 5px calc(((100% - 1140px) / 2));
}

.u-section-1 .u-layout-cell-1 {
  min-height: 514px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-image-1 {
  height: 335px;
  width: 245px;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 202px;
  margin: 11px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 107px 0 83px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 28px auto 0 50px;
  padding: 8px 33px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 514px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 10px;
}

.u-section-1 .u-group-1 {
  width: 728px;
  min-height: 452px;
  margin: 33px 0 0 auto;
}

.u-section-1 .u-gallery-1 {
  height: 452px;
  width: 728px;
  margin: -18px auto 0 -18px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  top: auto;
  left: 291px;
  right: auto;
  bottom: -17px;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 434px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -49px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 424px;
  }

  .u-section-1 .u-image-1 {
    height: 304px;
    margin-left: -15px;
    margin-right: -15px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 15px;
    margin-left: -15px;
  }

  .u-section-1 .u-text-2 {
    width: 45px;
    margin-right: 135px;
    margin-left: 35px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 424px;
  }

  .u-section-1 .u-group-1 {
    width: 638px;
  }

  .u-section-1 .u-gallery-1 {
    width: 638px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 110px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    height: 214px;
    margin-left: -48px;
    margin-right: -48px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 48px;
    margin-left: -48px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 152px;
    margin-left: -48px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-group-1 {
    width: 484px;
  }

  .u-section-1 .u-gallery-1 {
    width: 484px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 210px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-bottom: 0;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-right: 475px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-text-2 {
    margin-right: 275px;
  }

  .u-section-1 .u-group-1 {
    width: 320px;
  }

  .u-section-1 .u-gallery-1 {
    width: 320px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 93px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  line-height: 1.3;
  margin: 16px 181px 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  background-image: none;
  margin: -47px auto 41px 58px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    height: 39px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 136px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 86px;
  }
}